<div class="container">
  <div class="row mb-5">
    <div class="mx-auto col-md-4">
      <!-- スライドショーを入れる位置 -->
    </div>
  </div>

  <div class="text-center">
      <h1><strong>What's tocotoco?</strong></h1>
    <div class="row my-5">
      <div class="col-md-6">
        <img src="/assets/camp.jpg" alt="" class="about-page-img">
      </div>
      <div class="col-md-6">
        <img src="/assets/machinami.jpg" alt="" class="about-page-img">
      </div>
    </div>
      <p>普段行かないところに行ってみたい<br>
      有名な観光スポットもいいけど、身近に魅力的なスポットがあるかもしれない<br>
      新しい景色を見てみたい、発信・共有したい<br>
      そんな人たちのためのコミュニティサイトです</p>
  </div>
</div>