<h1>public/homes#aboutアバウトページ</h1>
<div class="container">
  <div class="row mb-5">
    <div class="mx-auto col-md-4">
      <!-- スライドショーを入れる位置 -->
    </div>
  </div>

  <div class="text-center">
      <h1><strong>What's tocotoco?</strong></h1>
      <p>サイトの紹介文サイトの紹介文サイトの紹介文<br >
      サイトの紹介文サイトの紹介文サイトの紹介文</p>
  </div>
</div>