<div class="container">
  <div class="row my-3">
    <div class="col-5">
    <h3 class="bg-light">都道府県データ編集</h3>
     <%= form_with model: @place, url: admin_place_path, method: :patch do |f| %>
      <p><strong>都道府県名</strong></p><%= f.text_field :prefectures %><%= f.submit '変更を保存', class:"btn btn-success" %>
     <% end %>
     </div>
  </div>
</div>