<h1>public/todos#edit</h1>

<h1>タスク編集</h1>
<%= form_for(@todo) do |f| %>
  <div><%= f.label :task %></div>
  <div><%= f.text_field :task %></div>
  <div><input type="submit" value="編集" class="btn btn-success"></div>
<% end %>
<%= link_to '戻る', todos_path %>