<!--<td>-->
<!-- <p><#%= article.title %></p>-->
<!-- <p><#%= link_to article.created_at.strftime('%Y/%m/%d %H:%M:%S'), article_path(id: article.id) %></p>-->
<!--</td>-->
<!--<td>-->
 <% if article.bookmarked_by?(current_user) %>
   <%= link_to "", article_bookmarks_path(article), method: :delete, remote: true, class: "fas fa-bookmark" %></td>　<!--ブックマークを外す-->
 <% else %>
   <%= link_to "", article_path(article), method: :post, remote: true, class: "far fa-bookmark" %></td> <!--ブックマークする-->
 <% end %>
</td>