 <% if article.bookmarked_by?(current_user) %>
   <%= link_to article_bookmarks_path(article), method: :delete, remote: true do %>
    <button type="button" class="btn btn-warning"><i class="fas fa-bookmark" style="color: #fa8500;"></i> ブックマーク解除</button>
    <% end %>
 <% else %>
   <%= link_to article_bookmarks_path(article), method: :post, remote: true do %>
   <button type="button" class="btn btn-outline-warning"><i class="far fa-bookmark" style="color: #ffc800;"></i> ブックマークに追加</button>
   <% end %>
 <% end %>